extends ../layout/master

block title
 title User

block content 
 h4 hello Login page
 
 .container-fluid
  .row
   .UserCv.col-sm-8




    .Exp
      br
      br
      h2.text-center Experianc
     
      .ExpAdd
       button(data-toggle="modal" class="btn btn-success crBtn" data-target="#AddExpModal") Create Experiance
     
      .updateExpSpinner
       .spinner
        .bounce1
        .bounce2
        .bounce3
      .ExpList
       each exp in CV.CVExp
        .ExpOne
         .card
          .opts
            button.statusBtn(data-id=''+exp._id data-type='exp' data-status=''+exp.ExpStatus value=''+exp.ExpStatus) eye
            button.updateBtn(data-toggle='modal' data-id=''+exp._id, data-target='#UpdateModal' data-type='exp') Upd
            button.delBtn(data-toggle='modal' data-target='#delModal' data-id=''+exp._id data-type='exp') Del
  
          .card-body      
            h2(class='card-title')=exp.ExpTitle
            p(class='card-title') june 2016 - jul 2018
            p(class='card-body')=exp.ExpDesc
            p.card-title Skills:
            .SkillList
             each skill in exp.ExpSkill
              .SkillOne
                span=skill.SkillTitle
              br 
    br
    br
     
    .Edu
     h2.text-center Education
    
     .EduAdd
      button(data-toggle="modal" data-target="#AddEduModal") Create Education	
     each edu in CV.CVEdu
      .EduOne
       .card
         .opts
          button.statusBtn(data-id=''+edu._id data-type='edu' data-status=''+edu.EduStatus) eye
          button.updateBtn(data-toggle='modal' data-id=''+edu._id, data-target='#UpdateModal' data-type='edu') Upd
          button.delBtn(data-toggle='modal' data-target='#delModal' data-id=''+edu._id data-type='edu') Del
 
         .card-body      
          h2(class='card-title')=edu.EduTitle
          p(class='card-title') june 2016 - jul 2018
          p(class='card-body')=edu.EduDesc
           p.card-title Skills:
           .SkillList
            each skill in edu.EduSkill
             .SkillOne
              span=skill.SkillTitle
             br
             
    br
    br      
    .Ref
     h2.text-center Refference
    
     .RefAdd
      button(data-toggle="modal" data-target="#AddRefModal") Create Refference
     .row
      each ref in CV.CVReff
       .RefOne.col-sm-4
        .card
         .opts
          button.statusBtn(data-id=''+ref._id data-type='ref' data-status=''+ref.RefStatus ) eye
          button.updateRefBtn(data-toggle='modal' data-id=''+ref._id, data-target='#UpdateRefModal') Upd
          button.delBtn(data-toggle='modal' data-target='#delModal' data-id=''+ref._id data-type='ref') Del
 
         .card-body      
          h2(class='card-title')=ref.RefName
          p(class='card-body')=ref.RefJob
          p(class='card-body')=ref.RefMail
          p(class='card-body')=ref.RefPhone
   
             
             

             
   

    .Skillm
     h2.text-center Skills
   
     .SkillAdd
      button(data-toggle="modal" data-target="#AddSkillModal") Create Skill
     .row
       each skill in CV.CVSkill
        .SkillOnem.col-sm-3
         span=skill.SkillTitle
         button.updateSkillBtn( data-target='#UpdateSkillModal' data-toggle='modal' data-id=''+skill._id) upd
         button.delBtn( data-target='#DelModal' data-toggle='modal' data-id=''+skill._id data-type='skill') del
     
   
   
 
   .UserInfForm.col-sm-4
    form.form-horizontal(method='post')
     .form-group
      .col-sm-10
       input.form-control(name='FirstNameI' placeholder='First name input ', value=''+CV.CVFirstName)
       
     .form-group
      .col-sm-10
       input.form-control(name='LastNameI' placeholder='Last name input ', value=''+CV.CVLastName)
     
     .form-group
      .col-sm-10
       input.form-control(name='JobI' placeholder='Job input ', value=''+CV.CVJob)
       
       
     .form-group
      .col-sm-10
       select.form-control(name='GenderI' placeholder='Gender input ', value=''+CV.CVGender)
        option(value='0') Select Gender
        option(value='1') Male 
        option(value='2') Feme
        option(value='3') Other
       
     .form-group
      .col-sm-10
       textarea.form-control(name='PersonalInfI' placeholder='Personal information input' value=''+CV.CVPersonalInf )=CV.CVPersonalInf
        
     .form-group
      .col-sm-10
       input.form-control(name='BirthDateI',type='date' value=''+CV.CVBirthDate )
  
    .form-group
     .col-sm-10
      button.btn.btn-primary.SavePersonalInf Save 
 
 

        //Save Experiance Mol

  .modal.fade(id="AddExpModal" role="dialog" tabindex="-1")
     .modal-dialog(role="document")
       .modal-content
         .modal-header
             h5.modal-title Add Experiance Modal
         .modal-body
              form.form-horizontal(method='post')
               .form-group
                .col-sm-12
                 input.form-control(name='ExpTitleI' placeholder='Experiance Title' required)
                
               .form-group
                .col-sm-12
                  textarea.form-control(name='ExpDescI' placeholder='Experiance Descreption' required)
               
               .form-group
                .col-sm-12
                 input.form-control(name='ExpJobI' placeholder='Experiance Job' required)
               
               
               .form-group
                .col-sm-12
                   input.form-control(type='text' name='ExpFromI' placeholder='From'  onfocus="(this.type='date')" onblur="(this.type='text')"  required)
                
               .form-group
                .col-sm-12
                  input.form-control(type='text' name='ExpToI' placeholder='To'  onfocus="(this.type='date')" onblur="(this.type='text')"	 required)
               
               .form-group
                .col-sm-12
                 label Skills:
                 .SkillSel
                  each skill in CV.CVSkill 
                   .SkillSelOne(style='border-color:'+skill.SkillColor,data-skillname=''+skill._id, data-status='0')
                    span=skill.SkillTitle



         .modal-footer
          button.btn.btn-primary.SaveExpBtn Save
          button.btn.btn-secondary( type="button" data-dismiss="modal") Close
  
             //End Save Experiance Mol




  //Update Modal 
  
  .modal.fade(id="UpdateModal" role="dialog" tabindex="-1")
     .modal-dialog(role="document")
       .modal-content
         .modal-header
             h5.modal-title Update Modal
         .modal-body
          .updateSpinner
           .spinner
            .bounce1
            .bounce2
            .bounce3
          form.form-horizontal(method='post').updateForm
               .form-group
                .col-sm-12
                 input.form-control(name='TitleUI' placeholder='Experiance Title' required)
                
               .form-group
                .col-sm-12
                  textarea.form-control(name='DescUI' placeholder='Experiance Descreption' required)
               
               
               .form-group
                .col-sm-12
                 input.form-control(name='JobUI' placeholder='Experiance Job' )
               
               .form-group
                .col-sm-12
                   input.form-control(type='date' name='FromUI' required)
                
               .form-group
                .col-sm-12
                  input.form-control(type='date' name='ToUI' required)
                  input(type='hidden',name='IdUI')
                  input(type='hidden', name='TypeUI')
               .form-group
                .col-sm-12
                 label Skills:
                 .SkillSel
                  each skill in CV.CVSkill 
                   .SkillSelOne(style='border-color:'+skill.SkillColor,data-skillname=''+skill._id, data-status='0')
                    span=skill.SkillTitle



         .modal-footer
          button.btn.btn-success.UpdateBtn Update
          button.btn.btn-secondary( type="button" data-dismiss="modal") Close
  
       //End Update Experiance Mol

       // Del experiance modal 
    
  .modal.fade(id="DelModal" role="dialog" tabindex="-1")
     .modal-dialog(role="document")
       .modal-content
         .modal-header
             h5.modal-title Confrim Delete Experiance Modal
         .modal-body
            
          form.form-horizontal(method='post').delExpForm
               .form-group
                .col-sm-12
                 input.form-control(name='confI' placeholder='type confrim', required)
                 input(type='hidden' name='DelIdI')
                 input(type='hidden' name='DelTypeI')

         .modal-footer
          button.btn.btn-danger.DelBtn Delete
          button.btn.btn-secondary( type="button" data-dismiss="modal") Close
  
    
    
       //end Del experiance modal 
    





  
          //Save Education Mol

  .modal.fade(id="AddEduModal" role="dialog" tabindex="-1")
   .modal-dialog(role="document")
    .modal-content
     .modal-header
       h5.modal-title Add Education Modal
     .modal-body
        form.form-horizontal(method='post')
               .form-group
                .col-sm-12
                 input.form-control(name='EduTitleI' placeholder='Education Title' required)
         
               .form-group
                .col-sm-12
                 textarea.form-control(name='EduDescI' placeholder='Education Descreption' required)
 
               .form-group
                .col-sm-12
                 input.form-control(type='text' name='EduFromI' placeholder='From'  onfocus="(this.type='date')" onblur="(this.type='text')" required)
         
               .form-group
                .col-sm-12
                 input.form-control(type='text' name='EduToI' placeholder='To'  onfocus="(this.type='date')" onblur="(this.type='text')" required)
		         
     .modal-footer
              button.btn.btn-primary.SaveEduBtn Se
              button.btn.btn-secondary( type="button" data-dismiss="modal") Cle
		 
   //End Save Education Mol
		  
 
  // add skill modal start
  
  .modal.fade(id="AddSkillModal" role="dialog" tabindex="-1")
     .modal-dialog(role="document")
       .modal-content
         .modal-header
              h5.modal-title Add Skill Modal
         .modal-body
              form.form-horizontal(method='post')
               .form-group
                .col-sm-4
                 input.form-control(name='SkillTitleI' placeholder='Skill Title' required)
		         
               .form-group
                .col-sm-4
                 textarea.form-control(name='SkillDescI' placeholder='Skill Descreption' required)
               .form-group
                .col-sm-4
                 select.form-control(name='SkillValI' value='0')
                  option(value='0') 0
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
                  option(value='6') 6
                  option(value='7') 7 
                  option(value='8') 8
                  option(value='9') 9 
                  option(value='10') 0
		          
               .form-group
                .col-sm-4
                 input.form-control(type='color',name='SkillColorI')
         
		         
         .modal-footer
          button.btn.btn-primary.SaveSkillBtn Save
          button.btn.btn-secondary( type="button" data-dismiss="modal") Close
		 
	
  //End Save Skill Modal	
  
  
  //Start update skill modal
  
  .modal.fade(id="UpdateSkillModal" role="dialog" tabindex="-1")
     .modal-dialog(role="document")
       .modal-content
         .modal-header
              h5.modal-title Update Skill Modal
         .modal-body
              form.form-horizontal(method='post')
               .form-group
                
                 input.form-control(name='SkillTitleUI' placeholder='Skill Title Update' required)
		         
               .form-group
              
                 textarea.form-control(name='SkillDescUI' placeholder='Skill Descreption Update' required)
               .form-group
             
                 select.form-control(name='SkillValUI')
                  option(value='0') 0
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
                  option(value='6') 6
                  option(value='7') 7 
                  option(value='8') 8
                  option(value='9') 9 
                  option(value='10') 10
		          
               .form-group
             
                 input.form-control(type='color',name='SkillColorUI')
                 input(type='hidden' name='IdUI')
         
		         
         .modal-footer
          button.btn.btn-success.UpdateSkillBtn Update
          suc
          button.btn.btn-secondary( type="button" data-dismiss="modal") Close




          //Save Refference Modal

  .modal.fade(id="AddRefModal" role="dialog" tabindex="-1")
   .modal-dialog(role="document")
    .modal-content
     .modal-header
       h5.modal-title Add Refference Modal
     .modal-body
        form.form-horizontal(method='post')
               .form-group
                .col-sm-12
                 input.form-control(name='RefNameI' placeholder='Refference Full Name' required)
         
               .form-group
                .col-sm-12
                 input.form-control(name='RefJobI' placeholder='Refference Job' required)
 
               .form-group
                .col-sm-12
                 input.form-control(type='text' name='RefPhoneI' placeholder='Refference Phone' required)
         
               .form-group
                .col-sm-12
                 input.form-control(type='mail' name='RefMailI' placeholder='Refference Mail' required)
		         
     .modal-footer
              button.btn.btn-primary.SaveRefBtn Save
              button.btn.btn-secondary( type="button" data-dismiss="modal") Cle
		 
   //End Save Refference Modal



          //Update Refference Modal

  .modal.fade(id="UpdateRefModal" role="dialog" tabindex="-1")
   .modal-dialog(role="document")
    .modal-content
     .modal-header
       h5.modal-title Update Refference Modal
     .modal-body
        form.form-horizontal(method='post')
               .form-group
                .col-sm-12
                 input.form-control(name='RefNameUI' placeholder='Refference Full Name Update' required)
         
               .form-group
                .col-sm-12
                 input.form-control(name='RefJobUI' placeholder='Refference Job Update' required)
 
               .form-group
                .col-sm-12
                 input.form-control(type='text' name='RefPhoneUI' placeholder='Refference Phone Update' required)
         
               .form-group
                .col-sm-12
                 input.form-control(type='mail' name='RefMailUI' placeholder='Refference Mail Update' required)
                 input(type='hidden' name='IdUI')
		         
     .modal-footer
              button.btn.btn-success.UpdateRefBtn Update
              button.btn.btn-secondary( type="button" data-dismiss="modal") Close
		 
   //End Update Refference Modal



	 	
block script    
 
  script(src='/js/aj.js')